@font-face {
  font-family: 'konnect';
  src: url('../fonts/KonnectBlack.otf');
}

h1,a{
  font-family: 'konnect';
}

body{
  background: #dddddd;
}


.app{
  width: 100%;
  height: 100%;
  background-color: #dddddd;
}

.button{
    width: 200px;
    transition: all;
  };

@mixin headers{
  width: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
}

.home-header{
  @include headers;

  img{
    width: 600px;
  }
}

.header{
  @include headers;

  img{
    width: 300px;
  }
}

@mixin grid-center{
  display: grid;
  justify-content: center;
  align-content: center;
}

.home-button{
  background-color: #ffffff;
  height: 200px;
  border-radius: 25px;
  @include grid-center;

  &:hover{
    opacity: 0.85;
  }

  &-fill{
    background-color: #00145c;
    height: 170px;
    border-radius: 16px;
    @include grid-center;

    &-content{
      width: 140px;
    }

    &.narrow-button-fill{
      width: 290px;
    }

    &.wide-button-fill{
      width: 630px;
    }
  }

  &.narrow-button{
      width: 320px;
  }

  &.wide-button{
    width: 660px;
  }
}

.home-menu{
  padding-top: 100px;
  @include grid-center;
  gap: 20px;

  &-row-1{
    display: flex;
    gap: 20px;
  }
}

.button-tiny{
  margin-top: 30px;
    background-color: #ae0006;
    height: 60px;
    width: 80px;
    border-radius: 10px;
    @include grid-center;

    &:hover{
      opacity: 0.85;
    }

    &-fill{
      background-color: #e70006;
      height: 46px;
      width: 65px;
      border-radius: 5px;
      @include grid-center;

      img{
        width: 35px;
      }
    }
}

@mixin containers{
    margin-top: 40px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: start;
}

.container{

  &-garage{
    @include containers;

    &-wall{
      margin-top: 30px;
      width: 1100px;
      height: 500px;
      background-color: #282c59;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      position: relative;
    }

    &-painting{
      margin-top: 80px;
      width: 200px;
      position: relative;
      z-index: 1;
    }

    &-floor{

      display: grid;
      grid-template-columns: 1.09fr 0.91fr;

      &-car{
        position: relative;
        top: -270px;
        z-index: 2;
      }

      &-furniture{
      width: 500px;
      position: relative;
      top: -100px;
      z-index: 2;
    }
    }

    
  }


  &-404{

    @include containers;

    &-header{
      font-size: 150px;
    }

    &-comment{
      font-size: 40px;
    }

    &-img{
      width: 800px;
    }
  }



}

.car{
  img{
    width: 400px;
    position: absolute;
  }
}